# The commercial face-recognition engine (SAFR eSDK) assets are not redistributable, so keep them out of git.
# Whoever builds places them locally from their own device environment.
libs/
assets/ESDKModels.zip
src/jp/co/nextware/
src/jp/serkenn/hicara/suicashui/SafrLicense.java

# Build outputs and keys
build/
dist/
keys/
